<h1>ユーザー詳細</h1>

<div>id: <%= @user.id %><br></div>
<div>name: <%= @user.name %><br></div>
<div>age: <%= @user.age %>歳<br></div>
<div>email: <%= @user.email %><br></div>
<div>pref: <%= @user.pref %><br></div>
<div>sex: <%= @user.sex%><br></div>