<h1>商品詳細</h1>

<div>id: <%= @product.id %><br></div>
<div>name: <%= @product.name %><br></div>
<div>price: <%= @product.price %><br></div>
<div>brand: <%= @product.brand %><br></div>
<div>product_category: <%= @product.product_category %><br></div>
<div>cost_category: <%= @product.cost_category %><br></div>
<div>price_category: <%= @product.price_category %><br></div>